root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

[*.{md,yml,yaml,py,sh,cmake}]
end_of_line = lf
indent_style = space
indent_size = 2

[CMakeLists.txt]
end_of_line = lf
indent_style = space
indent_size = 2

[*.{json,xml}]
indent_style = space
indent_size = 2
