bin/compile_befor/idl/idlfile
bin/compile_befor/proto/pro
bin/Debug
bin/Release
obj
doc
public/csharp/
public/csharp/csharp/.vs
public/csharp/csharp/csharp/bin
public/csharp/NodeConsoleApp1
third_party/protobuf-all-3.12.2
third_party/lua-cjson-2.1.0
third_party/lua-5.4.2_Win64_dll17_lib
*.cpp text=auto charset=gbk
*.h text=auto charset=gbk
