bin/compile_befor/idl/idlfile
bin/compile_befor/proto/pro
bin/Debug
bin/Release
obj
doc
public/csharp/
public/csharp/csharp/.vs
public/csharp/csharp/csharp/bin
public/csharp/NodeConsoleApp1
build
*.exe
*.dll
*.so
*.dylib
CMakeUserPresets.json
*.cpp text=auto charset=gbk
*.h text=auto charset=gbk
