name: ubuntu-22.04

on:
 # push:
 #   branches: [ "main" ]
 # pull_request:
 #   branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Python (required for Conan)
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Conan(python -m pip install conan)
      run: |
        pip install conan
        conan --version
        
    - name: Create build directory  
      run: |
        mkdir build    

    - name: Install dependencies with Conan(python -m conan)
      run: |
        conan profile detect --force
        conan install . -s build_type=Release -s compiler.cppstd=20 --build=missing
      
    - name: Configure with CMake
      run: |
        cmake --preset conan-release

    - name: Build project
      working-directory: build/Release
      run: cmake --build . 