# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: CMake Linux Build

on:
 # push:
 #   branches: [ "main" ]
 # pull_request:
 #   branches: [ "main" ]
  workflow_dispatch:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
                
    - name: Download and Install CMake
      run: |
        curl -LO https://github.com/Kitware/CMake/releases/download/v3.21.3/cmake-3.21.3-linux-x86_64.tar.gz
        tar -xzvf cmake-3.21.3-linux-x86_64.tar.gz
        sudo mv cmake-3.21.3-linux-x86_64 /usr/local/cmake
        echo 'export PATH="/usr/local/cmake/bin:$PATH"' >> ~/.bashrc
        source ~/.bashrc
        
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcurl4-openssl-dev libprotobuf-dev protobuf-compiler libmysqlclient-dev  # 安装依赖
        sudo apt-get install uuid-dev
        
    - name: Install GCC 13
      run: |
       sudo apt-get update
        sudo apt-get install -y software-properties-common
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
        sudo apt-get update
        sudo apt-get install -y gcc-13 g++-13

    - name: Set GCC 13 as default compiler
      run: |
         echo "CC=gcc-13" >> $GITHUB_ENV
         echo "CXX=g++-13" >> $GITHUB_ENV
        
    - name: Verify GCC version
      run: |
       gcc --version
       $CC --version
       $CXX --version
       
    - name: Install PostgreSQL
      run: |
        sudo apt-get update && sudo apt-get install -y \
          build-essential \
          libreadline-dev \
          zlib1g-dev \
          libssl-dev \
          wget \
          bison \
          flex \
          libxml2-dev
        cd ./third_party
        tar -zxf postgresql-18.1.tar.gz
        cd postgresql-18.1 && pwd  # 确认进入源码目录
          # ./configure参数说明：
          # --prefix：指定安装根目录
          # --with-openssl：启用SSL（可选，建议开启）
          # --with-libxml：启用XML功能（可选）
        ./configure \
          --prefix=/usr/local/pgsql \
          --with-openssl \
          --with-libxml \
          --enable-thread-safety  # 启用线程安全（适配多线程场景）
        make -j$(nproc)
        # 安装到指定路径（需要sudo，因为/usr/local是系统目录）
        sudo make install

    - name: Download Protobuf 3.12.2
      run: |
        cd ./third_party
        pwd
        ls
        unzip protobuf-all-3.12.2.zip
        cd protobuf-all-3.12.2/protobuf-3.12.2/cmake
        pwd
        mkdir build
        cd build
          cmake -DCMAKE_INSTALL_PREFIX=/usr/local \
          -Dprotobuf_BUILD_TESTS=OFF \
          -Dprotobuf_BUILD_SHARED_LIBS=OFF \
          -DCMAKE_POSITION_INDEPENDENT_CODE=ON ..
        make -j$(nproc)
        sudo make install
        sudo ldconfig
        protoc --version

    - name: Install Boost.Interprocess
      run: |
        sudo apt update
        sudo apt install libboost-all-dev
        dpkg-query -L libboost-all-dev

    - name: Install MySQL Connector/C
      run: sudo apt-get update && sudo apt-get install -y libmysqlclient-dev && dpkg-query -L libmysqlclient-dev

    - name: Download and build hiredis
      run: |
          git clone https://github.com/redis/hiredis.git
          cd hiredis
          make
          sudo make install
        
    - name: Download and build curl
      run: |
       sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev && dpkg-query -L libcurl4-openssl-dev
       
    - name: Install Lua 5.4.2 with -fPIC
      run: |
        wget https://www.lua.org/ftp/lua-5.4.2.tar.gz
        tar -xzf lua-5.4.2.tar.gz
        cd lua-5.4.2
        #make linux test
        #make clean
        make linux CFLAGS="-O2 -fPIC"
        sudo make install
        cd ..
        lua -v  # Verify installation

    - name: Install lua-cjson from latest source
      run: |
        wget https://github.com/openresty/lua-cjson/archive/refs/heads/master.zip
        unzip master.zip
        cd lua-cjson-master
        make LUA_INCLUDE_DIR=/usr/local/include
        sudo make install LUA_LIB_DIR=/usr/local/lib/lua/5.4
        cd ..
        
    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: |
       mkdir build
       cd build
       cmake ..
       make

