name: Build with Conan

on:
 # push:
 #   branches: [ "main" ]
 # pull_request:
 #   branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, ubuntu-22.04, macos-13]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Python (required for Conan)
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Conan(python -m pip install conan)
      run: |
        pip install conan
        conan --version
        
    - name: Create build directory
      run: mkdir build

    - name: Install dependencies with Conan(python -m conan)
      working-directory: build
      run: |
        conan profile detect --force
        pwd
        cd ..
        pwd
        conan install . -s build_type=Release -s compiler.cppstd=20 --build=missing

    - name: Configure with CMake (Windows)
      if: runner.os == 'Windows'
      working-directory: build
      run: cmake --preset conan-release

    - name: Configure with CMake (Linux/macOS)
      if: runner.os != 'Windows'
      working-directory: build
      run: cmake --preset conan-release

    - name: Build project
      working-directory: build
      run: cmake --build . --config Release